body{
    width: 97vw;
    height: 97vh;
}
.square {
    width: 20%;
    height: 40%;
    border: 1px solid black;
}

.red {
    background-color: red;
    z-index: 1;
}

.green {
    position: relative;
    top: -20%;
    left: 10%;
    background-color: green;
    z-index: 3;
}

.blue {
    position: relative;
    background-color: blue;
    top: -40%;
    left: 20%;
    z-index: 2;
}